.plotly_loading {
  display: grid;
  place-items: center;
}

.data_display {
  /* width: 100%;
  align-items: center;
  justify-content: center; */
  /* border: 2px dashed green;  */
  text-align: left;
}


/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV.
*/

.data_display2 {
  margin: 0 auto; /* Centers the div in the container */
  text-align: center; /* If you have text in data_display2, this will center it */
  /* border: 2px dashed red;  */
  width: 90%; /* Example width */
  height: 400px; /* Increased height for larger screens */
}


/* Media query for */
@media screen and (max-width: 768px) {
  .data_display2 {
    margin: 0 auto; /* Centers the div in the container */
    text-align: center; /* If you have text in data_display2, this will center it */
    /* wider and shorter for less wide screens*/
    /* border: 2px dashed red;  */
    width: 90%; /* Example width */
    height: 300px; /* Default height for smaller screens 300 px */ 

  }
}
/* {display: "flex" , alignItems: "center", alignContent: "center", width: "30%"} */